<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CALayer_Mask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8284BFFC1D07A0F6002F1B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8284C0131D07A0F7002F1B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8284C01E1D07A0F7002F1B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
